<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>InsertOrganizationUser</servlet-name>
        <servlet-class>eventapp.web.InsertOrganizationUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRegularUser</servlet-name>
        <servlet-class>eventapp.web.InsertRegularUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>eventapp.web.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestroySession</servlet-name>
        <servlet-class>eventapp.web.DestroySession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertOrganizationUser</servlet-name>
        <url-pattern>/InsertOrganizationUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRegularUser</servlet-name>
        <url-pattern>/InsertRegularUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestroySession</servlet-name>
        <url-pattern>/DestroySession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
